body{
	background-color:#e6eef5;
}

a:link{
	text-decoration: none;
	color:#000;
}
a:visited {color:black;}
a:hover {color:red;}
a:active {color:green;}

/*note order of link, visited,hover and active above, must be in that order*/

h1 {
	padding: 0px;
	margin: 0px;
}

#today{
/*border: black solid 1px;*/
padding: 4px;
}

.wrapper{
	width:80%;
	margin: auto;
	background-color: #e6eef5
}

#mainheading{
	/*border: red solid 1px;*/
	font-family: monospace;
	font-size: 46px;
	text-align: center;
}

#mainheading h1{
	color:#4066b8;
}
.navbar{
	border: black solid 7px;
	padding: 3px;

}

.navbar li{
	/*border: black solid 1px;*/
	list-style-type: none;
	display: inline;
	font-family: sans-serif;
	

}

.navbar a{
	color: #2c63db;
	font-size: 20px;
	text-decoration: underline;
	
}

.content {
	/*border: black solid 1px;*/
	width: 70%;
	float: left;
	padding: 3px;
	box-sizing: border-box;
}
 .content p{
 	padding:5px;
 	font-size: 18px;
 }

.sidecomments {
	border: black solid 3px;
	width: 30%;
	float:right;
	margin-top:7px;
	box-sizing: border-box;
}

.sidecomments p {
	/*border: red solid 1px;*/
	padding: 15px;

}
.sidecomments h3{
	padding: 7px;
}

#image1 img {
	/*border: black solid 5px;*/
	width: 68%;
	margin-top: 15px;
	padding: 3px;
	box-sizing: border-box;
}


.footer{
	/*border: orange solid 1px;*/
	clear:both;
	text-align: center;
	font-family: impact ;
	padding: 3px;
}

#image2{
float:right;
width: 30%;
}

.contacttable{
	/*border: black solid 1px;*/
	font-size: 18px;
	}

.contacttable table{
	margin-top: 5px;
	border: black solid 3px;
	float: left;
	width: 70%;
	text-align: center;
}

.contacttable a{
	color:blue;
}

.contactnotes {
	/*border:red solid 1px;*/
	float:right;
	width: 25%
}

.contactnotes a{
	color:blue;
}

.contactnotes p{
	margin:0px;
	font-size: 18px;
	padding:2px;
}

.service{
	
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr; 
	border: #b8b8b8 solid 5px;
}

#service1 {
	border: #b8b8b8 solid 1px;
	padding: 10px;
	grid-column:1/5;
    grid-row:1/2;
}
#service2 {
	border: #b8b8b8 solid 1px;
	grid-column:1/3;
    grid-row:2/3;
    padding: 10px;
}
#service3 {
	border: #b8b8b8 solid 1px;
	grid-column:3/5;
    grid-row:2/3;
    padding: 10px;
}
#service4 {
	border: #b8b8b8 solid 1px;
	grid-column:1/3;
    grid-row:3/4;
    padding: 10px;
}
#service5 {
	border: #b8b8b8 solid 1px;
	grid-column:3/5;
    grid-row:3/4;
    padding: 10px;
}

.form{
	/*border: black solid 1px;*/
	display: grid;
	grid-template-columns:1fr 1fr 1fr; 
	grid-gap: 20px;
	justify-items:center;
	margin-top: 15px;
}

#name{
	grid-column:1/2;
    grid-row:1/2;

}

#surname{
	grid-column:2/3;
    grid-row:1/2;
}

#number{
	grid-column:3/4;
    grid-row:1/2;
}

#email{
	grid-column: 1/4;
	grid-row: 2/3;
	width: 450px;
}
#email input{
	width: 450px;	
}

#comments{
	grid-column:1/4;
    grid-row:3/4;

}

#comments textarea {
	width: 450px;
	height: 150px;
}

#button {
	display: grid;
	justify-items:center;

}
